In [19]:
import pandas as pd
import numpy as np

In [20]:
#this imports pandas

In [21]:
dates= pd.date_range('20130101', periods=6)

In [22]:
#date_range function at first takes in a date value and another parameter called periods which 
#can be used in order to get other date values, the periods in particular performs an incrementation of 1 and gives the 6 values

In [23]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [24]:
#now we are creating a dataframe

In [25]:
df=pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [26]:
#here randn is used to normalize the data, it creates floats only but it randomizes the values
#here df creates multidimensional arrays whereas singles create single arrays
#from here the dataframe will have the index in the form of dates and there will be 4 columns namely A, B, C, D

In [27]:
df

                   A         B         C         D
2013-01-01 -1.374493 -0.887560 -0.938301 -1.008495
2013-01-02 -1.689572 -0.091726  0.121315 -1.889245
2013-01-03  0.526085 -0.244648  0.725192  1.079656
2013-01-04  0.028585  1.667738 -0.025131  0.862780
2013-01-05  0.977214 -1.277568  0.149183  0.122299
2013-01-06 -1.829072 -0.856169  0.929347  1.691838

In [28]:
labels=['w','x','y','z']
lis=[10,20,30,40]
array= np.array([10,20,30,40])

In [29]:
pd.Series(data=list)

0    <class 'list'>
dtype: object

In [30]:
pd.Series(data=list, index=labels)

w    <class 'list'>
x    <class 'list'>
y    <class 'list'>
z    <class 'list'>
dtype: object

In [31]:
array

array([10, 20, 30, 40])

In [32]:
array.mean()

np.float64(25.0)

In [33]:
pd.Series(data=lis)

0    10
1    20
2    30
3    40
dtype: int64

In [34]:
#series is one dimensional data frame

In [35]:
dict={'a':10,'b':20,'c':30}

In [36]:
pd.Series(dict)

a    10
b    20
c    30
dtype: int64

In [38]:
another_dict= {"w":10, "x":[40,39,29], 'y':30, 'z':['a','testing']}

In [39]:
pd.Series(another_dict)

w              10
x    [40, 39, 29]
y              30
z             [a]
dtype: object