In [1]:
import numpy as np
import pandas as pd

In [41]:
labels=['w','x','y','z']
ab=np.array([10,20,30,40])
ar=np.array([10,20,30,40])
dict= {'w':10, 'x':[40,39,29], 'y':30,'z':['a','d','test']}

In [42]:
labels

['w', 'x', 'y', 'z']

In [43]:
ab.mean()

np.float64(25.0)

In [ ]:
#Using lists

In [5]:
ar.mean()

np.float64(25.0)

In [6]:
pd.Series(data=ab)

0    10
1    20
2    30
3    40
dtype: int64

In [7]:
pd.Series(data=ab, index=labels)

w    10
x    20
y    30
z    40
dtype: int64

In [8]:
pd.Series(ab,labels)

w    10
x    20
y    30
z    40
dtype: int64

In [9]:
pd.Series(dict)

w              10
x    [40, 39, 29]
y              30
z    [a, d, test]
dtype: object

In [10]:
sports1= pd.Series([1,2,3,4], index=['Cricket', 'Football', 'Basketball', 'Golf'])

In [11]:
sports1

Cricket       1
Football      2
Basketball    3
Golf          4
dtype: int64

In [12]:
sports2= pd.Series([4,5,7,8], index=['Cricket','Football', 'Basketball', 'Golf'])

In [13]:
sports2

Cricket       4
Football      5
Basketball    7
Golf          8
dtype: int64

In [14]:
#sums between 2 different datas can be done, this is a simple usage of pandas, another advantage is we dont have to remember the indices
sports1['Cricket']+sports2['Cricket']

np.int64(5)

In [15]:
sports1+sports2

Cricket        5
Football       7
Basketball    10
Golf          12
dtype: int64

In [20]:
from numpy.random import randn #use certain things from the libraries because of space issues

In [21]:
randn(10,5)

array([[-0.22365727,  0.52822487, -0.04117018,  0.6047614 , -0.42220487],
       [ 0.48084521, -1.9283017 , -0.49270197,  0.37503129,  0.80587692],
       [-0.88413091, -1.44146206, -0.78392395,  1.59044605,  1.08752501],
       [ 0.79872456,  1.2410264 ,  0.15192656, -1.24595716, -0.43766919],
       [ 0.09310068,  1.17915864,  1.31877613,  1.03947508, -0.69269359],
       [ 0.65397572,  1.2472119 , -0.78358588,  0.87345399, -0.7319191 ],
       [-0.26831113,  0.52796141,  1.01877281, -0.35567753, -0.789421  ],
       [ 0.18158605, -1.16616944, -0.5797457 ,  0.72805803, -0.64401169],
       [-1.32797199,  1.5982005 , -1.16467219, -1.26829907,  0.65387364],
       [-0.31529257, -0.95884971,  0.84030809,  0.2793456 , -0.56965226]])

In [27]:
dataframe= pd.DataFrame(randn(10,5),index= 'A B C D E F G H I J'.split(), columns= 's1 s2 s3 s4 s5'.split())

In [35]:
dataframe

         s1        s2        s3        s4        s5
A  0.700157  1.901252 -0.169593 -1.932997 -0.639218
B  0.304960 -0.180441  0.475299 -0.686689 -0.129328
C  0.132545 -0.137357  1.481157  1.061802  1.385864
D -0.404252  0.377462 -0.473854 -0.735169  0.911842
E -0.275706  0.043470  1.006086 -0.888227  1.804480
F  1.153450  0.666965  0.136657  0.238633 -0.350683
G -1.937535  0.815894  0.158664  0.666732  0.091237
H -0.407881  0.142854  0.203634  0.106147 -0.069341
I -0.174667 -0.360226 -1.339219 -1.197415  1.276672
J -0.709721 -0.747833 -2.104196  0.380026  0.523615

In [36]:
#different values because of random number

In [37]:
np.random.seed(3) #with this seed every random number generated is locked
np.random.randint(1,100)

25