In [23]:
import pandas as pd
import numpy as np

In [24]:
#this imports pandas

In [25]:
dates= pd.date_range('20130101', periods=6)

In [26]:
#date_range function at first takes in a date value and another parameter called periods which 
#can be used in order to get other date values, the periods in particular performs an incrementation of 1 and gives the 6 values

In [27]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [28]:
#now we are creating a dataframe

In [29]:
df=pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [22]:
#here randn is used to normalize the data, it creates floats only but it randomizes the values
#here df creates multidimensional arrays whereas singles create single arrays
#from here the dataframe will have the index in the form of dates and there will be 4 columns namely A, B, C, D

In [30]:
df

                   A         B         C         D
2013-01-01  1.217354  1.116443 -0.093993 -1.024787
2013-01-02 -0.556043  0.481905 -0.249093 -0.977723
2013-01-03  0.123780  0.796823 -1.360005 -0.977113
2013-01-04  2.366705 -0.359896  0.298838  1.886518
2013-01-05  0.160039  0.311141  0.546928  1.331431
2013-01-06  1.619320  0.610245  0.422665 -0.291667

In [38]:
labels=['w','x','y','z']
lis=[10,20,30,40]
array= np.array([10,20,30,40])

In [39]:
pd.Series(data=list)

0    10
1    20
2    30
3    40
dtype: int64

In [40]:
pd.Series(data=list, index=labels)

w    10
x    20
y    30
z    40
dtype: int64

In [41]:
array

array([10, 20, 30, 40])

In [42]:
array.mean()

np.float64(25.0)

In [43]:
pd.Series(data=lis)

0    10
1    20
2    30
3    40
dtype: int64

In [44]:
#series is one dimensional data frame